<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <a routerLink="/">Material Blog</a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a routerLink="home">
              <mat-icon class="icon">home</mat-icon><span>Home</span>
            </a>
          </li>

          <!-- <li *ngIf="showAdminBoard">
            <a routerLink="/admin">Admin Board</a>
          </li> -->

          <li class="nav-item" *ngIf="showAdminBoard"><a href="/admin" class="nav-link" routerLink="admin">Admin Board</a></li>

          <li>
            <a routerLink="/login">
              <mat-icon class="icon">input</mat-icon><span>Login</span>
            </a>
          </li>
          <li>
            <a routerLink="/signup">
              <mat-icon class="icon">dashboard</mat-icon><span>Sign up</span>
            </a>
          </li>
          <li>
            <a (click)="logout()">
              <mat-icon class="icon">input</mat-icon><span>LogOut</span>
            </a>
          </li>
          <li>
            <a routerLink="/profile" *ngIf="isLoggedIn">
              <span > {{ username }}</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main> 
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>